// Specific CSS for your home-page
.container h3 {
  text-align: center;
}

#home-page-reviews h2 {
  text-align: center;
  font-size: 36px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.google {
  max-width: 1rem;
  height: auto;
  margin-right: .5rem
}
.line{
  flex: 1;
  height: 1px;
  background-color: rgb(139, 137, 137);
}

.line-text{
  padding: 0 .5rem; /* creates the space */
  font-size: small;
  margin: 0;
}
