<footer>
  <div class="footer-content">
    <strong><h3>The Dishers</h3></strong>
    <h4>Bringing transparency to hospitality</h4>
    <ul class= "socials">
      <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-twitter"></i></i></a></li>
      <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>

    </ul>
  </div>

  <div class="footer-bottom">
  <p>Copyright &copy;2023 The Dishers</p>

  </div>
</footer>
