<footer>
  <div class="footer-content">
    <h3>The Dishers</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus beatae odio ipsam? Sapiente voluptatum accusamus dicta provident qui ut, laborum quo temporibus, eligendi vero quia corporis distinctio sed, accusantium repudiandae.</p>
    <ul class= "socials">
      <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-twitter"></i></i></a></li>
      <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>

    </ul>
  </div>

  <div class="footer-bottom">
  <p>Copyright &copy;2023 The Dishers</p>

  </div>
</footer>
