<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1462539405390-d0bdb635c7d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1520&q=80);">
  <div class="container">
    <h1> Welcome to The Dishers </h1>
    <h2> <strong> A community </strong> </h2>
    <p> For hospitality professionals </p>
    <%= link_to 'Find your new business', businesses_path, style: 'text-decoration: none; color: white', class: "btn-flat btn-flat:hover" %>
  </div>
</div>

<div class="container my-5">
    <h3> Don’t waste your time. </h3>
    <h3> Make informed decisions about your next employer
      through our community of dedicated hospitality professionals. </h3>
    <h3> Share your experiences. Learn from others. </h3>
  </div>
</div>

<div class="container d-flex justify-content-between mt-3">
  <div class="row col-sm-4 justify-content-md-center p-3 mission-card">
    <h4> Bringing transparency to hospitality </h4>
    <p> Too many businesses take advantage of their employees’ hard-work and dedication. By drawing on the personal experience of dedicated professionals, we shine a light on poor practices and celebrate businesses who do things right.  </p>
  </div>
  <div class="row col-sm-4 justify-content-md-center p-3 mission-card">
    <h4> Bringing transparency to hospitality </h4>
    <p> Too many businesses take advantage of their employees’ hard-work and dedication. By drawing on the personal experience of dedicated professionals, we shine a light on poor practices and celebrate businesses who do things right.  </p>
  </div>
  <div class="row col-sm-4 justify-content-md-center p-3 mission-card">
    <h4> Bringing transparency to hospitality </h4>
    <p> Too many businesses take advantage of their employees’ hard-work and dedication. By drawing on the personal experience of dedicated professionals, we shine a light on poor practices and celebrate businesses who do things right.  </p>
  </div>
</div>
