.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  color: $light-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
}

.banner h4 {
  color: $light-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
}

.banner p {
  font-size: 20px;
  color: $light-gray;
  line-height: 2;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.business-banner{
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
}


.banner-content {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: $gray;
}

.banner-content h2 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
}


.banner-content p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
