.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  color: $light-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
}

.banner h4 {
  color: $light-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
}

.banner p {
  font-size: 20px;
  color: $light-gray;
  line-height: 2;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.banner-business {
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.business-banner-content {
  display: flex;
  align-items: center;
  height: 100%;
  color: $light-gray;
}

.business-banner-heading {
  // margin-left: 35px;
  margin-top: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: left;
}

.business-rating {
  margin-top: 8px;
  text-align: left;
}

.rating-stars {
  display: inline-block;
  font-size: 40px;
  color: #009eff;

}

.business-info {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}
