.button {
  border-radius: 50px;
  font-weight: lighter;
  color: white;
  background-color: $blue;
  border-radius: 50px;
}

.btn-ghost {
  color: $gray;
  border: 1px solid $gray;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.75;
  background: $light-gray;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: $blue;
  transition: background 0.3s ease;
  border: none;
}

.btn-flat:hover {
  background: rgb(53, 88, 213);
  color: white;
  opacity: 0.75;
}

.btn-gradient {
  color: $gray;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #0F60C4;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: $gray;
}
