// .btn {
//   border-radius: 50px;
//   font-weight: lighter;
//   color: $gray;
//   background-color: $blue;
// }

.btn-ghost {
  color: $gray;
  border: 1px solid $gray;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: $gray;
  padding: 8px 24px;
  border-radius: 50px;
  background: $blue;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: blue;
  color: $gray;
  opacity: 0.75;
}

.btn-gradient {
  color: $gray;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #0F60C4;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: $gray;
}
