// Mission card for home page
.mission-card {
  background: $blue;
  color: white;
  text-align: center;
  border-radius: 15px;
}

// .mission-card:hover {
//   background: rgb(39, 70, 183);
//   opacity: 0.75;
// }
