.carousel {
  height: 90vh;
}

.item img {
  min-width: 100%;
  min-height: 90vh;
}

.carousel-inner > .item {
  height: 90vh;
  position: relative;
}

#myCarousel .carousel-caption {
  padding-bottom: 100px;
  bottom: 70px;
  position: absolute;
  transform: translateY(-75%);
}

#myCarousel .carousel-caption h1 h2 h4 {
  text-shadow: 0.75px 0.75px #000000;
}

#myCarousel .carousel-caption h4 {
  margin-bottom: 24px;
}

// .carousel-control {
//   opacity: 0;
// }
