.carousel {
  height: 90vh;
}

.item img {
  min-width: 100%;
  min-height: 90vh;
}

.linear-gradient {
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
}

.carousel-inner > .item {
  height: 90vh;
  position: relative;
}

#myCarousel .carousel-caption {
  bottom: 70px;
  position: absolute;
  transform: translateY(-75%);
}


#myCarousel .carousel-caption h1 h2 h3 {
  text-shadow: 0.75px 0.75px #000000;
}

#myCarousel .carousel-caption h3 {
  margin-bottom: 40px;
}

.welcome-text {
  font-size: 64px !important;
}

h3.welcome-text {
  font-size: 32px !important;
}

h4.welcome-text {
  font-size: 32px !important;
}
