.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-left: 5px solid $light-gray;

  h1 {
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    border-bottom: none;

    #new_message {
      border-top: 1px solid $gray-200;
      padding: 1rem;

      .form-group {
        margin-bottom: 0;
      }
    }
  }
}

.message-row {
  margin-bottom: 5px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 60%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: $light-gray;
}

.receiver-style {
  background-color:$light-blue;
}


.chat-card-header {
  background: $blue;
	font-size: 12px;
  margin: 0 12px;
}

.chat-card-header h3{
  color: $light-gray;
}

// .chat-sub-header {
//   background-color: $light-gray;
// }

.chat-sub-header p{
  margin: 0;
  color: $blue;
}


// chat bar


.chat-card {
  background: #fff;
  transition: .5s;
  border: 0;
  margin-bottom: 30px;
  border-radius: .55rem;
  position: relative;
  width: 100%;

}
.chat-app .people-list {
  overflow: scroll;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 7
}

// .chat-app {
//   margin-left: 280px;
//   border-left: 1px solid #eaeaea
// }

.people-list {
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;

}

.people-list .chat-list  li:hover {
  background: #efefef;
  list-style: none;
  cursor: pointer;
}


.people-list .chat-list li .name {
  list-style: none;
  font-size: 15px;
  color: $blue;
}

.people-list .chat-list li a:hover {
  list-style: none;
  font-size: 15px;
  color: $blue;
  text-decoration: none;
}

.adiv{
  align-items: center;
	background: $light-gray;
	font-size: 12px;
	height: 70px;
  margin: 0 12px;

}

.adiv h2{
  color: $blue;
  text-align: center;
}
legend ~ div.form-check:first-of-type {
  clear: left;
}

#new_message {
  border-top: 1px solid $gray-200;
  padding: 1rem;

  .form-group {
    margin-bottom: 0;
  }
}


.messages::-webkit-scrollbar {
  width: 10px;             /* width of the entire scrollbar */
}

// .messages::-webkit-scrollbar-track {
//   background: orange;        /* color of the tracking area */
// }

.messages::-webkit-scrollbar-thumb {
  background-color: $blue;  /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */

}

.chat-app .people-list::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.chat-app .people-list::-webkit-scrollbar-thumb {
  background-color: $blue;  /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */

}
