

#fs_app > section:not(#fs_header_bar) {
	padding-top: 25px;
	padding-bottom: 10px;
	border-bottom: 2px solid #eee;
  font-family: "Poppins";
}

#fs_header_bar {
	padding-top: 25px;
	padding-bottom: 0;
}

#fs_page_title {
	font-size: 20px;
	font-weight: 500;
	margin-left: -15px;
}

.heading {
	font-size: 15px;
	font-weight: 500;

}

.btn {
	border: 2px black;
	padding: 3px;
	font-size: 14px;
	font-weight: 300 !important;
	margin-top: 15px;
	margin-bottom: 20px;
  border-radius: 50px;
  background-color:#b7e2fc;
  border-radius: 50px;
  opacity: 0.8;
  color: #000;
}

.stars {
	background: transparent;
	padding: 1px;
  border: transparent;
	margin-top: 10px;
	margin-bottom: 15px;
}

#fs_rating i {
	color: #eee;
}

#fs_rating i.dark {
	color: #000;
}

#fs_rating i {
	color: #eee;
}

#fs_rating i.dark {
	color: #000;
}
