*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

footer{
  background: $blue;
  height: auto;
  width: 100vw;
  padding-top: 40px;

}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}
