/* Styles for the footer */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background: $light-gray;
  height: auto;
  width: 100vw;
  padding-top: 20px;
  margin-top: 62px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  letter-spacing: 1px;
}

.footer-content {
  letter-spacing: 1px;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  padding-right: 19px;
}

.socials li {
  margin: 0 10px;
  display: inline-block;
}

.socials a {
  text-decoration: none;
  color: black;
}

.socials a i {
  font-size: 16px;
  transition: color .4s ease;
}

.socials a:hover i {
  color: $light-blue;
}

.footer-bottom {
  background: $light-gray;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
