.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
  background-color: $blue;
  font-weight: bold;
  transition: 0.5s background-color ease;

  p {
    color: white;
  }

  .navbar-collapse {
    flex-grow: 0;
  }
}

.navbar-brand {
  width: 50px;
  margin-left: 20px;

  img {
    width: 50px;
  }
}

#search-bar-container {
  position: relative;
  overflow: hidden;
  background-color: white;
  padding: 0;

  .btn-flat {
  padding: 4px 16px;
  }

  &:hover {
    background: #009dffc7;
  }
}

.nav-link:hover {
  opacity: 0.8;
}

.form-control {
  border: none !important;
  border-radius: 4px 0px 0px 4px !important;
}

.right-margin {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 315px;
  width: 2px;
  background-color: #d7d5d5;
}


// .search-bar-background {
//   background-color: white;
// }

// .left-search-bar {
//   // border-right-style: double !important;
//   // border-color: rgb(171, 166, 166) !important ;
//   position: absolute;
//   top: 10%;
//   bottom: 10%;
//   right: 0;
//   width: 6px;
//   background-color: #bdbdbd;
// }

// .left-search-bar::after {
//   background-color: #bdbdbd !important ;
//   bottom: 8px !important;
//   content: "" !important;
//   position: absolute !important;
//   right: 0 !important;
//   top: 8px !important;
//   width: 6px !important;
// }

// #right-search-bar .form-control {
//   border: none;
//   border-radius: 0px 4px 4px 0px;
// }
