// Review cards

.user-reviews{
  overflow: hidden;
  height: 170px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items:flex-start;
  margin-bottom: 20px;
}

.user-reviews img {
  height: 100%;
  width: 170px;
  object-fit: cover;
}

.user-reviews h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-left: 2rem;

}

.user-reviews h4 {

  margin-left: 2rem;

}

.user-reviews p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 2rem;
}

.user-reviews .user-review-details {
  padding: 16px;

}


// Fave cards


.fave-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.fave-card {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.fave-card:hover {
  opacity: 0.8;
}
//Profile new

.user-profile {
      position: relative;
      margin-bottom: 50px;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      z-index: 1;
      // border-radius: 15px;
      -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
      box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  }
  .user-profile .user-thumb {
      position: relative;
      z-index: 1;
      border-radius: 15px 15px 0 0;
      margin: 0 auto;
      padding: 30px 30px 0 30px;
      background-color: $light-blue;
      overflow: hidden;
  }
  .user-profile .user-thumb::after {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      width: 150%;
      height: 80px;
      bottom: -45px;
      left: -25%;
      content: "";
      background-color: #ffffff;
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
  }
  @media only screen and (max-width: 575px) {
      .single_advisor_profile .advisor_thumb::after {
          height: 160px;
          bottom: -90px;
      }
  }


  .user-profile .user-info {
      position: relative;
      z-index: 1;
      padding: 30px;
      text-align: right;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      border-radius: 0 0 15px 15px;
      background-color: #ffffff;
  }
  .user-profile .user-info::after {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      z-index: 1;
      width: 50px;
      height: 3px;
      background-color: $blue;
      content: "";
      top: 12px;
      right: 30px;
  }
  .user-profile .user-info h6 {
      margin-bottom: 0.25rem;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single_advisor_profile .single_advisor_details_info h6 {
          font-size: 14px;
      }
  }
  .user-profile .user-info p {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      margin-bottom: 0;
      font-size: 14px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .user-profile .user-info p {
          font-size: 12px;
      }
  }
  .user-profile:hover .user-thumb::after,
  .user-profile:focus .user-thumb::after {
      background-color: $blue;
  }
  .user-profile:hover .user-info,
  .user-profile:focus .user-info {
      background-color: $blue;
  }
  .user-profile:hover .user-info::after,
  .user-profile:focus .user-info::after {
      background-color: #ffffff;
  }
  .user-profile:hover .user-info h6,
  .user-profile:focus .user-info h6 {
      color: #ffffff;
  }
  .user-profile:hover .user-info p,
  .user-profile:focus .user-info p {
      color: #ffffff;
  }
